* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
  font-family: Champagne;
  background-color: rgb(250, 248, 242);

}

@font-face {

  font-family: Champagne;
  src: url(../Champagne.ttf);
}

@font-face {

  font-family: Kardust;
  src: url(../Kardust.otf);
}

.img-fluid {
  opacity: 1;

}

.main {
  width: 50%;
  margin: 50px auto;
  margin-right: 145px;
}

.form-group .form-control {
  padding-left: 2.375rem;
}

.form-group .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.titulo {
  font-family: Kardust;
  margin-left: 0px !important;
  margin-top: 1px;
  position: static;
}

.subti {
  font-family: Champagne;
  margin-left: 80px !important;
  margin-top: -20px;
  font-weight: normal;

}

.reg {
  background-color: #a0d9ed !important;
  border-radius: 12px;
  border: 1px #a0d9ed solid;
  padding: 10px 25px;
  box-shadow: 2px 5px #888888;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 20px;
  display: block;
  font-family: Champagne;
  color: black;
  font-weight:  bold;

}



.responsive {

  margin-left: 40px !important;
  margin-top: 30px;

}

.contenedor {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.contenedor img {
  width: 100%;
  height: auto;
}

.contenedor .btn {
  position: absolute;
  top: 51%;
  margin-left: -30px;
  float: right;
  transform: translate(-50%, -50%);
  background-color: rgb(250, 248, 242);
  color: black;
  font-size: 16px;
  padding: 17px 10px;
  border: none;
  cursor: pointer;
  border-radius: 17px;
  text-align: center;
  text-decoration: none;
  box-shadow: none;

}

.contenedor .btn1 {
  position: absolute;
  top: 59.4%;
  margin-left: -30px;
  float: right;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(250, 248, 242);
  color: black;
  font-size: 16px;
  padding: 17px 10px;
  border: none;
  cursor: pointer;
  border-radius: 17px;
  text-align: center;
  text-decoration: none;

}


.contenedor .btn:hover {
  background-color: #f8fafb;
}



h2 {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
}

h2.linea {
  position: relative;
  z-index: 1;
}

h2.linea:before {
  border-top: 2px solid black;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 100px;
  right: 0px;
  bottom: 0;
  width: 55%;
  z-index: -1;
}

h2.linea span {

  background: #fff;
  padding: 0 30px;
  margin-left: 100px !important;
}

.img-coron {

  width: 40px;
  left: 0%;
  position: static;


}

.pag {
  font-family: Champagne;
  margin: 11px;
  display: inline;
}


.clip-circle {
  border-radius: 150%;

}

#img1 {
  border-radius: 150% !important;
}

#file-upload {
  height: 20px !important;
  width: 80px !important;
}

#file-preview-zone {
  height: 20px !important;
  width: 80px !important
  
  ;
}

.btn-file {
  position: relative;
  overflow: hidden;
  background-color: #a0d9ed;
  color: black;
  border-radius: 12px;
  border: 1px #a0d9ed solid;
  padding: 9px;
  box-shadow: 2px 5px #888888;
  border: none;
  font-size: 20px !important;
  font-weight:  900;


}

.btn-file:hover {
  background-color:#a0d9ed;
  color: black;
}


.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background-color: white;
  cursor: inherit;
  display: block;

}

